#leftbar .item-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid #8b8b8b;
}

#leftbar .rectangle {
  width: 100px;
  height: 50px;
  border-radius: 15px;
}

#leftbar .circle{
  width: 80px;
  height: 80px;
  border-radius: 100%;
}

#leftbar .imgDrag{
  background-color: transparent;
  width: 130px;
  height: 80px;
  background-image: url('../../images/image.png');
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: contain;
  border: 0;
}

/* COLOR PICKER */

#colorPicker{
  padding: 10px;
  width: 100%;
}

#colorPicker .color-picker{
  width: 80%;
  margin: auto;
  height: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px 10px;
  margin-bottom: 40px;
}

#colorPicker .color-box{
  width: 32px;
  height: 32px;
}

#colorPicker .color-horizontal{
  box-sizing: border-box;
  width: 100%;
  height: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border: 1px solid black;
}

#colorPicker .horizontal-colors{
  width: 100%;
  height: 40px;
}

#colorPicker .colors-container{
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
}

#colorPicker .merge-colors{
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

#colorPicker input{
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.8px;
  text-align: center;
  background-color: transparent;
  color: white;
  outline: none;
  border: none;
  width: 100px;
  max-width: 200px;
  height: max-content;
}