.InProjects{
  position: relative;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
}

.InProjects .TopBar{
  grid-column: 1fr / 1fr;
  grid-row: 1fr / 1fr;
}

.InProjects .LeftBar{
  grid-column: 1   span;
  grid-row:  11 span;
}

.InProjects .Flow{
  grid-column: 11 span;
  grid-row: 11 span;
}