#leftbar {
  width: max-content;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(to bottom right, #f68686 30%, #FE7575 40%, #FF9595);
}

#leftbar .dashboard {
  width: max-content;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(30deg, #FE3A3A, #FF4F4F);
  color: white;
  padding: 5px 20px;
  border-radius: 0 20px 0 0;
}

#leftbar .btn-items {
  padding: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

#leftbar .btn-items .item-btn {
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background: linear-gradient(to bottom right, #E18574, #F25639);
  box-shadow: 2px 5px 15px #fc6145;
  border: none;
  color: white;
  font-size: 15px;
  font-weight: lighter;
}

#leftbar .btn-items .rectangle{
  width: max-content;
  height: 30px;
  border-radius: 10px;
}

#leftbar .btn-items .round{
  width: 70px;
  height: 70px;
  border-radius: 100%;
}

#leftbar .export-btn {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border: 0;
  border-radius: 15px 15px 0 0;
  background: linear-gradient(to right, #FF4747, #FC7171);
}

#leftbar .btn-items .imgDrag{
  width: 100%;
  height: 50px;
  background-color: transparent;
  border: transparent;
  background-image: url("../images/image.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50%;
}

#color-container{
  width: 140px;
  flex-wrap: wrap;
  display: flex;
  gap: 0.3px;
  justify-content: center;
  align-items: center;
}

#color-container .color-box{
  width: 21%;
  height: 30px;
}