.project{
  position: relative;
  width: 200px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
}

.project .title{
  bottom: 0;
  margin: 0;
  padding: 10px;
  width: 90%;
  height: 20px;
  color: white;
  background-color: black;
  position: absolute;
}

.project img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project .options{
  position: absolute;
  bottom: -54px;
  right: -1.5px;
  z-index: 1;
  width: 100px;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:#f2f2f2;
  border: 2px solid black;
  color: black;
  font-weight: 400;
}