#dashboardBar {
  grid-column: 1 / 12 fr;
  grid-row: 1;
  position: relative;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  background-color: #f2f2f2;
  color: black;
  background-color: white;
  border-bottom: 1px solid black;
}

#dashboardBar h3{
  grid-column: 11 / 11;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#dashboardBar .dashboard {
  grid-column: 2 / 2;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 2px solid;
  border-left: 2px solid;
  color: black;
  padding: 0px 20px;
}
