.InProjects {
  position: relative;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
}

.InProjects #leftbar {
  grid-row: 2 / 13;
  grid-column: 1 / 3;
  position: relative;
  color: black;
  background-color: #191919;
  border-right: 1px solid black;
  display: flex;
  flex-direction: column;
  padding: 70px 33px;
  justify-content: flex-start;
  align-items: center;
  gap: 50px;
}

.InProjects #react-flow-wrapper {
  grid-column: 10 span;
  grid-row: 11 span;
}