#topbar {
  position: relative;
  width: 100%;
  height: max-content;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding: 5px 20px;
  height: 60px;
  background: linear-gradient(to right, #FE7575, #FF7474, #FF5656);
  color: white;
}

#topbar .currentPage {
  position: absolute;
  right: 30px;
}