#login .circle-container{
  grid-row: 3 / 11;
  grid-column: 7 / 11;
  display: flex;
  justify-content: center;
  align-items: center;
}

#login .circle{
  width: 400px;
  height: 400px;
  border-radius: 20px;
  background-color: rgb(40, 40, 40);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 20px rgb(116, 116, 116);
}

#login .inside{
  position: absolute;
  padding: 10px;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 1;
  box-shadow: 0px 0px 10px rgb(117, 116, 116);
}

#login .one{
  top: 40px;
  left: 40px;
  background-color: #99FF5B;
  color: #000000;
}

#login .two{
  top: 200px;
  left: 60px;
  background-color: #FF3131;
  color: #a282fd;
}

#login .three{
  top: 80px;
  left: 260px;
  background-color: #A800B7;
  color: #FFFFFF;
}

#login .four{
  top: 260px;
  left: 280px;
  background-color: #0085FF;
  color: #00FFB2;
}


#login svg{
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  stroke: #d8d5d7;
  stroke-width: 4;
  fill: none;
  overflow: hidden;
}

#login svg polyline{
  transition: all 1s;
}

