/* OVERWRITING DEFAULT STYLES */
/* https://reactflow.dev/docs/guides/theming/#overwrite-default-styles */

.Flow{
  background-color: white;
}

.selectable:hover {
  cursor: move;
}

.input_text {
  color: white;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.8px;
  text-align: center;
  background-color: transparent;
  outline: none;
  border: none;
  width: 100px;
  max-width: 200px;
  height: max-content;
}


.handle {
  width: 13px;
  height: 13px;
  border-radius: 100%;
  background: #626262;
  border: 1px solid #959191;
}

.handle-top {
  top: -19px;
}
.handle-bottom {
  bottom: -19px;
}
.handle-left {
  left: -19px;
}
.handle-right {
  right: -19px;
}

.react-flow__edge-path,
.react-flow__connection-path {
  stroke: #ff5fa8;
  stroke-width: 4;
}

/* DEFAULT NODE SETTINGS */
._node{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  background-color: #626262;
}

/* RECT NODE */
.rect_node, .react-flow__node-rect_node {
  border-radius: 10px;
  width: max-content;
  height: 40px;
}

/* ROUND NODE */
.round_node, .react-flow__node-round_node {
  border-radius: 100%;
  width:  60px;
  height: 60px;
}

/* IMAGE NODE */

.img_node {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 200px;
  max-height: 200px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border: 2px solid black;
}

.img_node img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*  */
/*  */
/*  */