#dashboard {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
}

#dashboard #bar{
  grid-column: 1 / 11 fr;
  grid-row: 1;
}

#dashboard .create-btn{
  position: absolute;
  bottom: 0;
  left: 0px;
  width: 200px;
  border-radius: 20px 20px 0 0;
  border: 0;
  box-shadow: 8px -7px 20px rgb(160, 160, 160);
}