/* OVERWRITING DEFAULT STYLES */
/* https://reactflow.dev/docs/guides/theming/#overwrite-default-styles */

.selectable {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom left, #FC7171, #FF4747);
  border-radius: 15px;
  width: 150px;
  height: 100px;
  padding: 20px;
  color: white;
  border: 0;
}

.selectable:hover {
  cursor: move;
}

.react-flow__handle {
  width: 50px;
  height: 15px;
  background: linear-gradient(to bottom left, #fdb8b8, #fba4a4);
  border-radius: 40px;
}

.react-flow__handle-top {
  top: -19px;
}

.react-flow__handle-bottom {
  visibility: hidden;
  bottom: -3px;
}

.react-flow__handle-left {
  visibility: hidden;
  left: -5px;
}

.react-flow__handle-right {
  visibility: hidden;
  right: -5px;
}

.react-flow__edge-path{
  stroke: #ffa4c6;
  stroke-width: 5;
  fill: none;
}

.input_text {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.8px;
  text-align: center;
  background-color: transparent;
  outline: none;
  border: none;
  color: white;
  width: 100px;
  max-width: 200px;
  height: max-content;
}

.node_image-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 400px;
  overflow: auto;
  resize: both;
  border: 2px solid black;
}

.node_image_size{
  width: 80px;
  height: 20px;
}

.node_image-top{
  top: -180px;
}

.node_image-left{
  left: -180px;
}

.node_image-right{
  right: -180px;
}

.node_image-bottom{
  bottom: -180px;
}

.node_image{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*  */
/*  */
/*  */