#ProjectContainer {
  box-sizing: content-box;
  position: relative;
  padding: 20px 0;
  gap: 13px;
  grid-column: 2 / 12;
  grid-row: 12 span;
  display: flex;
  flex-wrap: wrap;
  z-index: 1;
  align-content: flex-start;
  overflow-y: scroll;
}

/* HIDES THE SCROLLBAR ON THAT CONTAINER */
#ProjectContainer::-webkit-scrollbar{
  display: none;
}
